# Ignore any files in the data directory
data/raw
# vscode
.vscode/
# Jupyter Notebook
.ipynb_checkpoints/
# pycharm
.idea/
# Python
__pycache__/
# Mac
.DS_Store
# Windows
Thumbs.db
# Linux
*~
# Python
*.pyc
*.pyo
