# Ignore any files in the data directory
# vscode
.vscode/
# Jupyter Notebook
.ipynb_checkpoints/
# pycharm
.idea/
# Python
__pycache__/
# Mac
.DS_Store
# Windows
Thumbs.db
# Linux
*~
# Python
*.pyc
*.pyo

# Heavy datasets
data/raw/imdb/


# GemFile
docs/Gemfile
docs/Gemfile.lock
docs/_site/*
docs/_site/