{% extends 'base.html' %}
{% block title %}404 - Page not found{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="text-center">
            <h1 class="display-1">404</h1>
            <p class="lead">Oops! The page you're looking for isn't here.</p>
            <p>But don't worry, here's a chart to cheer you up!</p>
            <div class="d-flex justify-content-center">
                <canvas id="myChart" width="200" height="100"></canvas>
            </div>
            <a href="/" class="btn btn-primary mt-3">Go Home</a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        // Chart.js Script stupid 3d chart
        var ctx = document.getElementById('myChart').getContext('2d');

        // bar graph with error code as x (501, 404, 403, ...) and a bar in the 404 with value 1

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['501', '404', '403', '400', '200'],
                datasets: [{
                    label: 'Error Codes',
                    data: [0, 1, 0, 0, 0],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>
{% endblock %}